/* Importação de fontes globais */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

/* Paleta de Cores Oficial do Tem Aí */
:root {
    --laranja: rgb(209, 130, 51);
    --laranja-escuro: rgb(183, 112, 42);
    --verde-cabecalho: rgb(2, 67, 44);
    --verde-letras-cabecalho: rgb(234, 255, 245);
    --verde-letras-hover: rgb(131, 156, 144);
    --verde-fundo: rgb(14, 90, 64);
    --verde-escuro: rgb(2, 47, 31);
}

/* Reset Global para todos os navegadores */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    align-items: center;
    background-color: rgb(2, 67, 44);
    padding: 10px;
}

header img {
    width: 120px;
    height: auto;
    padding: 5px;
    border-radius: 5px;
}

nav a {
    margin: 20px;
    text-decoration: none;
    color: rgb(234, 255, 245);
    transition: 0.3s;
    font-weight: bold;
    font-size: 18px;
}

nav a:hover {
    color: rgb(131, 156, 144);
    transition: 0.3s;
}

nav a.ativo {
    color: var(--laranja); /* Usa aquele seu laranja rgb(209, 130, 51) */
    border-bottom: 2px solid var(--laranja); /* Opcional: um sublinhado charmoso */
}

footer{
    background-color: rgb(209, 130, 51);
    color: rgb(2, 47, 31);
    text-align: center;
    font-size: large;
    font-weight: bold;
    padding: 2%;    
}