@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

body {
  font-family: Arial, sans-serif;
  background-color: rgb(14, 90, 64);
  margin: 0;
  color: #fffefe;
}

.cadastro-page {
  display: flex;
  justify-content: center;
  padding: 40px 20px;
}

.container {
  background: rgb(2, 67, 44);
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.3);
  width: 100%;
  max-width: 600px;
}

.container {
  transition: 0.3s;
}

.container:hover {
  transform: scale(1.02);
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.4);
}

h2 {
  font-family: "Bebas Neue", sans-serif;
  font-size: 45px;
  color: rgb(209, 130, 51);
  text-align: center;
  margin-bottom: 30px;
}

.form-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  margin-bottom: 30px;
}

/* Em telas pequenas, o grid vira uma coluna só */
@media (max-width: 600px) {
  .form-grid {
    grid-template-columns: 1fr;
  }
}

label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
  font-size: 14px;
}

input {
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  border: none;
  background: #f4f4f4;
}

.btn-principal {
  width: 100%;
  padding: 15px;
  background-color: rgb(209, 130, 51);
  color: white;
  border: none;
  border-radius: 8px;
  font-family: "Bebas Neue", sans-serif;
  font-size: 22px;
  cursor: pointer;
  transition: 0.3s;
}

.btn-principal:hover {
  background-color: rgb(183, 112, 42);
}

.link-footer {
  text-align: center;
  margin-top: 20px;
}
.link-footer a {
  color: rgb(209, 130, 51);
  text-decoration: none;
  font-weight: bold;
}
